<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  
<welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>biblioteca.Servlet.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>List_Title</servlet-name>
        <servlet-class>biblioteca.Servlet.List_Title</servlet-class>
    </servlet>
      <servlet>
        <servlet-name>Backoffice</servlet-name>
        <servlet-class>biblioteca.Servlet.Backoffice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Backoffice</servlet-name>
        <url-pattern>/backoffice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>List_Title</servlet-name>
        <url-pattern>/list_title</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name> BDigitale </res-ref-name>
        <res-type>javaxx.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    
</web-app>